//styles.scss

// Import Bulma Sass file

$dark: rgb(20, 20, 20);
$less-dark: rgb(40, 40, 40);
$middark: rgb(60, 60, 60);
$darker: rgb(20, 20, 20);


$navbar-height: 2.5rem;
$navbar-item-color: white;
$navbar-dropdown-background-color: $dark;
$navbar-item-hover-background-color: $less-dark;

$footer-height: 0.75rem;

$tabs-link-padding: 0.2rem 0.4rem;
$tabs-boxed-link-radius: 0;
$tabs-boxed-link-active-background-color: $dark;
$tabs-border-bottom-color: $less-dark;
$tabs-toggle-link-border-color: $less-dark;
$tabs-boxed-link-active-border-color: $less-dark;
$tabs-boxed-link-active-border-bottom-color: white;
$tabs-boxed-link-hover-background-color: $less-dark;
$tabs-link-color: white;
$tabs-link-active-color: gold;
$tabs-link-hover-color: yellow;

$menu-list-link-padding: 0.2rem;

$light: #FFF;
$white: #FFF;

 
@use "assets/bulma/bulma.scss";

@import "./assets/own.css";



body {
    background-color: #FFF;
    height: 100vh;
    transition: all 0.4s ease;
}

// Some styling 

body .subtitle,
body .title {
    color: $dark;
}

body.dark {
    background-color: $dark;
    color: #FFF;
}

body.dark .subtitle,
body.dark .title {
    color: #FFF;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

button{
    cursor: pointer;
    border: none;
    color: #FFF;
    padding: .8rem;
    background: $dark;
    border-radius: 6px;
}

body.dark button {
    background: #FFF;
    color: $dark;
}

body>div.container {
  width:99% !important
}

.is-sidebar-menu {
    padding: 0;
    background: $dark;
    li {
      a {
        color: #FFF;
      }
    }
  }
  .columns {
    &.is-fullheight {
      min-height: calc(100vh - ( #{$navbar-height} + .75rem ) - ( #{$footer-height} + .75rem ) );
      max-height: calc(100vh - ( #{$navbar-height} + .75rem ) - ( #{$footer-height} + .75rem ) );
      height:     calc(100vh - ( #{$navbar-height} + .75rem ) - ( #{$footer-height} + .75rem ) );
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      .column {
        overflow-y: auto;
      }
    }
  }
  .is-main-content {
    //background: $grey-lighter;
  }

  .container.is-fluid {
    padding: 0 30px !important
  }

  // dialog fixes
  .dialog__overlay .dialog__container {
    background-color: $middark !important;
  }

  .dialog__form-element label.dialog__input-label {
    color: $white !important;
    background-color: $less-dark !important;
  }

  .dialog__form-element .dialog__input, 
  .dialog__form-element .dialog__input:not([type=checkbox]):not([type=radio]),
  .dialog__form-element .dialog__input:focus, 
  .dialog__form-element .dialog__input:active,
  .dialog__form-element .dialog__input:not([type=checkbox]):not([type=radio]):active,
  .dialog__form-element .dialog__input:not([type=checkbox]):not([type=radio]):focus {
    color: $white !important;
    background-color: $less-dark !important;
    border:1px solid $dark !important;
  }


  // nav
  nav {
    border-bottom: 1px solid $middark;
  }

  footer {
    border-top: 1px solid $middark;
  }