//styles.scss

// Import Bulma Sass file

$dark: rgb(30, 30, 30);


$navbar-height: 2.5rem;

$footer-height: 0.75rem;


 
@import "./assets/bulma/bulma.sass";

@import "./assets/own.css";



body {
    background-color: $light;
    height: 100vh;
    transition: all 0.4s ease;
}

// Some styling 

body .subtitle,
body .title {
    color: $dark;
}

body.dark {
    background-color: $dark;
    color: $light;
}

body.dark .subtitle,
body.dark .title {
    color: $light;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

button{
    cursor: pointer;
    border: none;
    color: $light;
    padding: .8rem;
    background: $dark;
    border-radius: 6px;
}

body.dark button {
    background: $light;
    color: $dark;
}



.is-sidebar-menu {
    padding: 0;
    background: $grey-dark;
    li {
      a {
        color: $white;
      }
    }
  }
  .columns {
    &.is-fullheight {
      min-height: calc(100vh - ( #{$navbar-height} + .75rem ) - ( #{$footer-height} + .75rem ) );
      max-height: calc(100vh - ( #{$navbar-height} + .75rem ) - ( #{$footer-height} + .75rem ) );
      height:     calc(100vh - ( #{$navbar-height} + .75rem ) - ( #{$footer-height} + .75rem ) );
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      .column {
        overflow-y: auto;
      }
    }
  }
  .is-main-content {
    //background: $grey-lighter;
  }